@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --f-winky-sans: "Winky Sans", sans-serif;
    --border-c: rgba(255,255,255,0.05);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-winky-sans);
}

body {
    background-color: rgb(20,20,20);
}

/* MAIN */

main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

/* MAIN INPUT CONTAINER */

.main-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 60px;
    border-bottom: 1px solid var(--border-c);
    position: relative;
}

.main-input-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/bg.svg);
    z-index: -1;
    opacity: 0.05;
}

/* MAIN INPUT */

.main-input {
    width: 650px;
    height: 45px;
    border-radius: 0.1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgb(30,30,30);
    column-gap: 10px;
    border: 1px solid var(--border-c);
}

/* MAIN INPUT ITSELF */

.main-input-itself {
    border: 0;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 1rem;
    padding-left: 10px;
}

/* MAIN INPUT BUTTON */

.main-input-button {
    padding-inline: 15px;
    font-size: 1rem;
    border: 0;
    outline: none;
    background-color: rgb(50,50,50);
    color: white;
    border-left: 1px solid var(--border-c);
    cursor: pointer;
}

.main-input-button:hover {
    background-color: rgb(60,60,60);
}

.main-input-button:active {
    background-color: rgb(55,55,55);
}

/* MAIN OUTPUT SECTIONS */

.main-output-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* MAIN OUTPUT SECTION */

.main-output-section {
    border-right: 1px solid var(--border-c);
}

/* MAIN OUTPUT SECTION HEADER */

.main-output-section-header {
    color: white;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid var(--border-c);
    padding-block: 10px;
    background-color: rgb(24,24,24);
}

/* MAIN OUTPUT CONTAINER */

.main-output-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}

/* MAIN OUTPUT */

.main-output {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    background-color: rgb(35,35,35);
    border: 1px solid var(--border-c);
}

.main-output-paragraph {
    color: white;
    line-height: 1.5;
}

.main-output-button {
    font-size: 1rem;
    padding-block: 5px;
    border: 1px solid var(--border-c);
    background-color: rgb(45,45,45);
    color: white;
    cursor: pointer;
}

.main-output-button:hover {
    background-color: rgb(255, 4, 0);
}

.main-output-button:active {
    background-color: rgb(217, 4, 0);
}